@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Advertisement
<form asp-controller="Add" asp-action="Index" method="post">
    <table style="border:none">
        <tr>

            <td>
                <label asp-for="Brand">برند و تیپ</label>
                <input asp-for="Brand" type="text" class="form-control" id="Brand" required placeholder="نام برند و نام مدل و تیپ">
            </td>
        </tr>
        <tr>

            <td>
                <label asp-for="ItsModel">مدل</label>
                <input asp-for="ItsModel" type="text" class="form-control" id="ItsModel" required placeholder=" ">
            </td>
        </tr>
        <tr>

            <td>
                <label asp-for="Color">رنگ</label>
                <input asp-for="Color" type="text" class="form-control" id="Color" required placeholder=" ">
            </td>
        </tr>
        <tr>

            <td>
                <label asp-for="FunctionKilometers">کارکرد</label>
                <input asp-for="FunctionKilometers" type="text" class="form-control" id="FunctionKilometers" required placeholder=" ">
            </td>
        </tr>
        <tr>

            <td>
                <label asp-for="ChassisAndBodyCondition">وضعیت بدنه</label>
                <input asp-for="ChassisAndBodyCondition" type="text" class="form-control" id="ChassisAndBodyCondition" required  placeholder=" ">
            </td>
        </tr>
        <tr>

            <td>
                <label asp-for="BasePrice">قیمت پایه</label>
                <input asp-for="BasePrice" type="number" class="form-control" id="BasePrice" required  placeholder="قیمت به تومان">
            </td>
        </tr>
        <tr>

            <td>
                <label asp-for="EngineCondition">وضعیت موتور</label>
                <input asp-for="EngineCondition" type="text" class="form-control" id="EngineCondition"  placeholder="">
            </td>
        </tr>
        <tr>

            <td>
                <label asp-for="RearChassisCondition">وضعیت شاسی عقب</label>
                <input asp-for="RearChassisCondition" type="text" class="form-control" id="RearChassisCondition"  placeholder="">
            </td>
        </tr>
        <tr>

            <td>
                <label asp-for="FrontChassisCondition">وضعیت شاسی جلو</label>
                <input asp-for="FrontChassisCondition" type="text" class="form-control" id="FrontChassisCondition"  placeholder="">
            </td>
        </tr>
        <tr>

            <td>
                <label asp-for="ThirdPartyInsuranceTerm">مهلت بیمٔه شخص ثالث</label>
                <input asp-for="ThirdPartyInsuranceTerm" type="text" class="form-control" id="ThirdPartyInsuranceTerm" placeholder="">
            </td>
        </tr>
        <tr>

            <td>
                <label asp-for="Gearbox">گیربکس</label>
                <input asp-for="Gearbox" type="text" asp-for="Gearbox" class="form-control" id="Gearbox" placeholder="">
            </td>
        </tr>
        <tr>

            <td>
                <label asp-for="Nationality">ملیت</label>
                <select asp-for="Nationality" id="Nationality" >
                    <option value="ایرانی">ایرانی</option>
                    <option value="اتباع خارجی">اتباع خارجی</option>
                </select>
            </td>
        </tr>
        <tr>

            <td>
                <label asp-for="NationalCode">کد ملی</label>
                <input type="text" asp-for="NationalCode" asp-for="NationalCode" class="form-control" id="NationalCode" placeholder="">
            </td>
        </tr>-->
        <!-- <tr>

            <td>
                <input class="form-check-input" type="checkbox" asp-for="DoYouWantToReplace" value="DoYouWantToReplace" id="DoYouWantToReplace">
                <label class="form-check-label" asp-for="DoYouWantToReplace">مایلم معاوضه کنم</label>
            </td>
        </tr>
       <tr>

            <td>
                <input class="form-check-input" type="checkbox" asp-for="IsTheChatActivated" value="IsTheChatActivated" id="IsTheChatActivated">
                <label class="form-check-label" asp-for="IsTheChatActivated">چت دیوار فعال شود.</label>
            </td>
        </tr>
        <tr>

            <td>
                <input class="form-check-input"  asp-for="IsThePhoneCallActive" value="IsThePhoneCallActive" id="IsThePhoneCallActive">
                <label class="form-check-label" asp-for="IsThePhoneCallActive">چت دیوار فعال شود</label>
            </td>
         </tr>-->
        <tr>

            <td>
                <label asp-for="Title">عنوان آگهی</label>
                <input type="text" class="form-control" id="Title" asp-for="Title" required placeholder="">
            </td>
        </tr>
        <tr>

            <td>
                <label asp-for="Description">توضیحات آگهی</label>
                <input type="text" class="form-control" id="Description" asp-for="Description" required placeholder="">
            </td>
        </tr>
        <tr>

            <td>
                <button type="submit" class="btn btn-primary" style="float:right;">ثبت آگهی</button>
            </td>
        </tr>

    </table>
</form>