@*@{
    ViewData["Title"] = "Home Page";
}*@

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@*<form action="/" method="post">
    <div class="row">
        <div class="col">
            <select>
                <option selected value="savariVaVanet">سواری و وانت</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input type="type" name="name" value="" namespace="شهر" />
        </div>
    </div>

</form>*@