@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
</div>

<div class="row">
    @foreach (var ad in Model)
    {
        <div class="col-6 border-1">
            <span>ad.Title</span>
            <span>ad.BasePrice</span>
            <span>ad.FunctionKilometers</span>
        </div>
    }
</div> 